<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hola</title>
</head>
<body>
Exemples d'ús dels controladors:<br/>
<h1>Amb un controlador REST<br/></h1>
https://salutacio1.herokuapp.com/hola_rest <br/>
https://salutacio1.herokuapp.com/hola_rest?nom=Pepi <br/>
https://salutacio1.herokuapp.com/numero <br/>
https://salutacio1.herokuapp.com/info<br/>

<h1>Amb un controlador Web<br/></h1>
https://salutacio1.herokuapp.com/saluda <br/>
https://salutacio1.herokuapp.com/saluda?nom=Montse
</body>
</html>



}